CompileFlags:
  Add:
    [
      "-x",
      "cuda",
      "--cuda-path=/usr/local/cuda",
      "-I/usr/local/cuda/include",
      "-I/usr/local/cuda/include/cccl",
      "--no-cuda-version-check",
      "-I/home/jnolck/Documents/src/ai/.venv/lib/python3.12/site-packages/nanobind/include/",
      "-I/var/home/jnolck/.local/share/uv/python/cpython-3.12.13-linux-x86_64-gnu/include/python3.12",
      "-I/home/jnolck/Documents/src/ai/.venv/lib/python3.12/site-packages/_rocm_sdk_devel/include",
      "-I/home/jnolck/Documents/src/ai/.venv/lib/python3.12/site-packages/_rocm_sdk_devel/include/hipblaslt",
      "-D__HIP_PLATFORM_AMD__",
      "-I.",
      "-Iops/",
      "-std=c++17",
    ]
  Remove: ["-forward-unknown-to-host-compiler", "-rdc=true", "-gencode"]
